<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<h1>My Library</h1>
    <ul>
        {% for dic in books %}
        <li>{{ dic['title'] }} - {{ dic['author'] }} - {{ dic['rating'] }}/10 <a href="{{ url_for('edit_rating_page', id=dic['id']) }}">Edit Rating</a></li>
        {% endfor %}
    </ul>
    {% if books|length == 0 %}
    <p>Library is empty.</p>
    {% endif %}
    
<a href="{{ url_for('add') }}">Add New Book</a>
</body>
</html>